@import-normalize;

body {
  color: white;
  margin: 0;
  font-family: 'Gruppo', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: rgb(6, 1, 18);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

div {
  margin: 20px;
  /* color: white; */
}

.movie-details-box {
  display: flex;
  width: 800px;
}

.movie-details-box > img {
  width: 300px;
  height: 400px;
}

.review-list {
  background-color: rgb(35, 8, 66);
  border-radius: 5px;
  padding: 15px;
  margin: 30px;
}
