@import-normalize;

body {
  color: white;
  margin: 0;
  font-family: 'Gruppo', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: rgb(6, 1, 18);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

div {
  margin: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
